.header {
    .logo {
        display: flex;
        height: 250px;
        align-items: center;
        justify-content: center;
        img {
            height: 400px;
           
            background-size: cover;

           
        }
    }  
}